/* Bottom navigation */
.bottom-nav {
  display: none;
  /* Hide by default */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2b2b2b;
  z-index: 1;
}

.bottom-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.bottom-nav ul li {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.bottom-nav ul li a {
  color: #fff;
  /* White text color */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav ul li a:hover {
  color: #ffa500;
  scale: 1.1;
  /* Orange on hover */
  transition: 0.3s;
}

/* Media query to show bottom navigation on small screens */
@media (max-width: 768px) {
  .bottom-nav {
    display: block;
    /* Show bottom navigation */
  }

  ul li.active i {
    color: #ffa500;
    scale: 1.4;
  }
}
